body {
  font-family:Verdana;
}

.wrap {
  overflow: hidden;
  position: relative;
}

.bg-img {
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.bg-content {
  position: relative;
}

h1, h2, h3 {
  color: #323336;
  text-align: center;
}

div {
  text-align: center;
}

ol
{
  color:black;
  text-align: left;
  list-style-position: inside;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-menu {
  width: 300px; /* Set a width if you like */
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style-position: inside;
  list-style-type: none;
}

.vertical-menu li {
  border-radius: 6px;
}

.vertical-menu a {
  background-color: #6fd66b; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 6px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  border-radius: 6px;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}